$loiz-dark: #042229;
$loiz-pink: #e7028e;
$funsha-pink: #c40a77;
$loiz-pink-light: #FEF3F9;
$loiz-sky-blue: #02aace;
$light-blue: #B5CFE4;
$turquoise: #13ABCF;
$turquoise-light: #D0EEF5;
$loiz-card-bg: #55555510;
$normal-text: #2A2A2A;
$loiz-default: #555;
$loiz-grey: #AAA;
// $normal-text: #555555;